.carousel-caption{
    background-color: #110c0c91;
    width: 100%;
    right: 0px !important;
    left: 0px !important;
    
    bottom: 0px !important;
}
 ol {
     margin-bottom: 0px !important;
 }